@use 'sass:map';
@use '@angular/material' as mat;
@import '~@angular/material/theming';
@import '../../../theme.scss';

#shortcut-card {
    width: 600px;
    height: 400px;
    margin: auto;
}

#home-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .tab-label div {
        color: mat.get-color-from-pallette($primary-palette, 'darker')
    }
}