.shortcut-card {
  height: 400px;
  display: block;
}

.home-wrapper {
  width: 600px;
  height: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-wrapper {
  height: 500px;
  padding: 1px;
}
