<mat-toolbar class="app-bar" color="primary">
    <!-- Menu icon for mobile screens -->
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
        </button> -->
    <button routerLink="" mat-button>PuppyCab</button>
    <button routerLink="plan-transport" mat-button>Plan Transport</button>
    <button routerLink="manage-railroad" mat-button>Manage Railroad</button>
    <span class="example-spacer"></span>
    <button routerLink="manage-trips" mat-button>Manage Trips</button>
</mat-toolbar>
