<div>
    <div>
        <mat-form-field class="example-full-width">
        <mat-label>Starting Location</mat-label>
        <input matInput placeholder="Ex. St. Louis MO" value="">
        </mat-form-field>
    </div>
    <div> 
        <mat-form-field class="example-full-width">
            <mat-label>Destination</mat-label>
            <input matInput placeholder="Ex. Green Bay WI" value="">
        </mat-form-field>
    </div>
    <button mat-raised-button color="primary">Create Route</button>
</div>
