@use 'puppycab' as puppycab;
@use '@angular/material' as mat;

@include mat.core();
@include mat.all-component-themes(puppycab.$light-theme);


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Poppins, Arial, sans-serif;

    &.puppycab-dark {
        @include mat.all-component-colors(puppycab.$dark-theme);
    }
}
